body {
    margin: 0px;
    padding: 0px;
    background: url('bg.png');
    background-position: fixed;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* =================================================  */




/* ========================   NAV BAR Start   =========================  */


.nav_out_main {
    /* border: 2px solid red; */
    height: fit-content;
    padding-top: 20px;
    padding-bottom: 10px;
}

.nav_left_main {
    /* border: 2px solid green; */
    height: 140px;
    text-align: right;

}

.nav_right_main {
    /* border: 2px solid blue; */
    height: fit-content;
}

/* ----------------------------- */
.navbar-toggler-icon {
    /* border: 1px solid brown; */
    border-radius: 4px;
    color: brown;
    background-color: white;
}

.logo {
    height: 100%;
    border-radius: 50%;
    margin-right: 20px;
}

/* main nav bar out div  */
.navbar {
    /* border: 2px solid magenta; */
    border-radius: 30px;
    height: fit-content;
    margin-top: 20px;
    /* background-color: red; */
}

.nav_bar_main_container {

    /* border: 2px solid white; */
    border-radius: 40px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
}

.nav_bar_title_bar {
    margin-top: 15px;
    margin-left: 20px;
    /* border: 2px solid red; */
    height: fit-content;
}

.list_main {
    margin-top: 20px;
    margin-left: 15x;
    /* border: 2px solid green; */
    height: fit-content;
}

.nav-item {
    height: fit-content;
    /* border: 2px solid goldenrod; */
    border-radius: 3px;
}

/* -------------------------------------  */
.title {
    color: cyan;
    font-size: 30px;
    font-family: 'Agdasima', sans-serif;
}

.title:hover {
    color: white;
    font-size: 30px;
    font-family: 'Agdasima', sans-serif;
}

.home-btn {

    padding: 5px;
    color: white;
}

.home-btn:hover {
    border-bottom: 3px solid yellow;
    padding: 5px;
    color: white;
}
/* ========================   NAV BAR END   =========================  */
















/* =================================================  */
@media only screen and (max-width: 1920px) {}

@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 992px) {

    .logo {
        display: none;
    }

    .nav_left_main {
        height: 1px;
    }
    .nav_bar_main_container {

        border: 2px solid white;
        border-radius: 10px;
        color: white;
        background-color: rgba(0, 0, 0, 0.7);
    }
}

@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 535px) {}

@media only screen and (max-width: 480px) {}

@media only screen and (max-width: 412px) {}